@model X.PagedList.PagedList<WeW.WEB.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<h2>Lista de Produtos</h2>

<div>
    @using (Ajax.BeginForm("Pesquisar", "Produto", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "divListaProdutos"

    }))
    {
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="Pesquisa" class="form-control" />
                    <div class="input-group-btn">
                        <input type="submit" value="Pesquisar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Cadastrar", "Cadastrar", "", new { @class = "btn btn-primary" })
</p>

@Html.Partial("_Produto", Model)

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
