@{
    ViewBag.Title = "Home Page";
}

<style>
    h2 {
        text-align: center;
        text-transform: uppercase;
        color: #DB7093 !important;
    }
    h3 {
        color: #DB7093;
    }
 
</style>

<div class="jumbotron">
    <h2>Bem Vindo(a) - @TempData["LoginName"] </h2>
    @*<p class="lead">Você de bem com a vida.</p>*@
    @*<p><a href="https://www.instagram.com/?hl=pt-br" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Sistema de controle interno</h3>
        <p>
            Sistema visando o controle de produto, controle em estoque de produtos, que por sua vez melhora
            a agilidade da loja para com o cliente.
        </p>
        <p><a class="btn btn-primary" href="https://www.instagram.com/?hl=pt-br">Saiba mais &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Visão</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/?hl=pt-br">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valor</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/?hl=pt-br">Learn more &raquo;</a></p>
    </div>*@
</div>